Preprocessamento dos dados

1. Carregar o dataset;
2. Verificar suas informações gerais;
3. Verificar dados ausentes;
4. Verificar e remover outliers; <br>
    <p>Como os dados são categóricos não será possivel analisar a existência de outliers</p>

5. Verificar e corrigir inconsistências;
6. Criar novas variáveis derivadas das existentes;
7. Converter tipos de dados;
8. Salvar o dataset pré-processado.


<p style="color: yellow;">1. Carregar o dataset;
2. Verificar suas informações gerais;<p>

In [23]:
import pandas as pd
df_api = pd.read_csv("https://waf.cs.illinois.edu/discovery/berkeley.csv")

# Exibir das cinco primeiras linhas
df_api.head()

   Year  Major Gender Admission
0  1973      C      F  Rejected
1  1973      B      M  Accepted
2  1973  Other      F  Accepted
3  1973  Other      M  Accepted
4  1973  Other      M  Rejected

In [24]:
#verificação de valores auxentes:
da = df_api.isnull().sum()
da

Year         0
Major        0
Gender       0
Admission    0
dtype: int64

In [25]:
# Distribuição de Sexo entre os aplicantes
df_api['Gender'].value_counts()

Gender
M    8442
F    4321
Name: count, dtype: int64

In [26]:
# Contar o total de aprovações por sexo
total_por_sexo = df_api.groupby('Gender').size()

# Contar o número de aprovações por sexo

aprovados_por_sexo = df_api[df_api['Admission'] == 'Accepted'].groupby('Gender').size()

# Calcular a porcentagem de aprovação por sexo
porcentagem_aprovacao_por_sexo = round((aprovados_por_sexo / total_por_sexo) * 100,2)

print(porcentagem_aprovacao_por_sexo)

Gender
F    34.58
M    44.28
dtype: float64

In [27]:

total_por_sexo = df_api.groupby('Gender').size()
print("\nTotal De inscritos por gênero\n")
print(total_por_sexo)

aprovados_por_sexo = df_api[df_api['Admission'] == 'Accepted'].groupby('Gender').size()
print("\nTotal De aprovados por gênero\n")
print(aprovados_por_sexo)


porcentagem_aprovacao_por_sexo = (aprovados_por_sexo / total_por_sexo) * 100
print("\nPercentual de aprovados por gênero\n")
print(porcentagem_aprovacao_por_sexo)

Total De inscritos por gênero

Gender
F    4321
M    8442
dtype: int64

Total De aprovados por gênero

Gender
F    1494
M    3738
dtype: int64

Percentual de aprovados por gênero

Gender
F    34.575330
M    44.278607
dtype: float64

In [28]:
# Distribuição de Sexo entre os aplicantes
df_api['Admission'].value_counts()

Admission
Rejected    7531
Accepted    5232
Name: count, dtype: int64

In [29]:
# Distribuição entre os cursos
df_api['Major'].value_counts()

Major
Other    7924
A        1246
C         918
D         792
F         714
B         585
E         584
Name: count, dtype: int64

<p style="color: yellow;">3 - Verificar dados ausentes;<p>

In [30]:
# info gerais do dataset
df_api.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12763 entries, 0 to 12762
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Year       12763 non-null  int64
 1   Major      12763 non-null  object
 2   Gender     12763 non-null  object
 3   Admission  12763 non-null  object
dtypes: int64(1), object(3)
memory usage: 399.0+ KB

<p style="color: yellow;">4. Verificar e remover outliers; <br><p>
    <p><i>Como os dados são categóricos não será possivel analisar a existência de outliers</i></p>
<p style="color: yellow;">
5. Verificar e corrigir inconsistências;<p>
    <p><i>Não foi identificado inconsistências nos dados</i></p><br>
<p style="color: yellow;">
6. Criar novas variáveis derivadas das existentes;<br><br>
7. Converter tipos de dados;<p>

In [31]:

# Retira os "other"
grouped = df_api[df_api['Major']!= "Other"]

# Retira a coluna "Year"
grouped = grouped.drop(columns=['Year'])

grouped

      Major Gender Admission
0         C      F  Rejected
1         B      M  Accepted
6         F      F  Accepted
9         A      M  Accepted
11        B      M  Accepted
...     ...    ...       ...
12747     A      M  Accepted
12748     F      M  Rejected
12752     A      M  Accepted
12754     A      M  Accepted
12759     D      M  Accepted

[4839 rows x 3 columns]

<p style="color: yellow;">8. Salvar o dataset pré-processado.<p>

In [32]:

print("Current columns:", grouped)


if len(grouped.columns) == 2:
    
    grouped.columns = ['Major', 'Gender']
else:
    print("Column count mismatch!")


grouped.to_csv('output.csv', index=True)  

print("DataFrame saved to 'output.csv'")

Current columns:       Major Gender Admission
0         C      F  Rejected
1         B      M  Accepted
6         F      F  Accepted
9         A      M  Accepted
11        B      M  Accepted
...     ...    ...       ...
12747     A      M  Accepted
12748     F      M  Rejected
12752     A      M  Accepted
12754     A      M  Accepted
12759     D      M  Accepted

[4839 rows x 3 columns]
Column count mismatch!
DataFrame saved to 'output.csv'